html { 
    background: url(images/wave-haikei-4.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
/*h1{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    text-align: center;
}
.home-main-text{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    text-align: center;
}

.home-sub-text{
    font-family: 'Noto Serif', serif;
    font-size: 10px;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

  
  

input{
    margin: 0 auto;
    display: block;
    font-size: 20px;
    text-align: center;
    border-radius: 18px;
    width: 300x;
}


button {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;

}

img{
    width: 1600px;
    height: 1100px;
}
.main-container{
        display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.child-container{
    background-color: white;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    position: relative;

}
.picture-container{
    margin-top: -300px;
    display:block;
}
.main-text{
    display: block;
    margin-top: -70px;
    width: 1200px;
    display: inline-block;

}
.home-main-text{
    font-size: 75px;
    justify-content: center;
}
.text-box{
    width: 40%;
    max-width: 60%;
    border: black solid;
}
.home-sub-text{
    font-size: 50px;
    justify-content: center;
}
.btn-signin{
    background-color: rgb(1, 170, 228);
    min-width: 100%;
    height: 4rem;
    line-height: 2.7;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: initial;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
    padding: 0px 1.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
}
.btn-common{
        background-color: rgb(1, 170, 228);
        height: 4rem;
        line-height: 2.7;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        text-transform: initial;
        white-space: nowrap;
        cursor: pointer;
        color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
        padding: 0px 1.8rem;
        border-radius: 0.8rem;
        text-decoration: none;
    
}
.login-main-container{
    background: #F3E5D0;

}
footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .table-functions{
      display: flex;
      flex-direction: column;
  }

  #navigation-container {
    position: relative;
    background-color: #352d2f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    opacity: 0.7;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
  }
  
  .logo img {
    height: auto;
    width: 100%;
  }

.logo {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
  }
  
  .logo img {
    height: auto;
    width: 100%;
  }

  .bookstore-header{
      padding-top: 150px;
      padding-bottom: 50px;
  }
  .bookstore-heading{
      font-size: 70px;
      color: white;
  }
  .table-functions{
      margin-top:-100px;
      margin-bottom: 0;
  }
  .login{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      height: 90vh;
  }
  .login-text{
      text-align: center;
      font-size: 60px;
  }
  p, input{
      margin-top: 20px;
      }

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .table-add-btn{
        background-color: green;
        height: 4rem;
        line-height: 2.7;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        text-transform: initial;
        white-space: nowrap;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
        padding: 0px 1.8rem;
        border-radius: 0.8rem;
        text-decoration: none;
  }
  .table-del-btn{
    background-color:red;
        height: 4rem;
        line-height: 2.7;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        text-transform: initial;
        white-space: nowrap;
        cursor: pointer;
        color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
        padding: 0px 1.8rem;
        border-radius: 0.8rem;
        text-decoration: none;
  } */